
*,
::after,
::before {
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

button {
  padding: 5px 10px;
}

button:hover {
  transform:  scale(95%);
}

.title {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  height: 100vh;
  width: 100%;
}

.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.form_control {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-bottom: 5px;
  width: 100%;
}

.form_control input, 
.form_control textarea {
  padding: 10px;
}

.form_control input, textarea, select {
  color: #000;
}

.form_control textarea {
  resize: none;
  min-height: 100px;
  overflow-y: auto;
}

